absl-py==2.0.0
aiohttp==3.9.1
aiosignal==1.3.1
alembic==1.13.1
annotated-types==0.6.0
anyio==3.7.1
appdirs==1.4.4
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
asttokens==2.4.1
async-lru==2.0.4
async-timeout==4.0.3
attrs==23.2.0
audioread==3.0.1
Babel==2.14.0
backcall==0.2.0
beautifulsoup4==4.12.3
bidict==0.23.1
bleach==6.1.0
build==1.2.1
cachetools==5.3.2
certifi==2023.11.17
cffi==1.16.0
charset-normalizer==3.3.2
chinese_calendar==1.9.1
click==8.1.7
cm-time==0.1.2
colorama==0.4.6
comm==0.2.2
contourpy==1.2.0
cryptography==42.0.5
cycler==0.12.1
Cython==3.0.7
dataclasses-json==0.6.4
debugpy==1.8.1
decorator==4.4.2
defusedxml==0.7.1
dill==0.3.8
distro==1.9.0
dnspython==2.6.1
docopt==0.6.2
docutils==0.20.1
email_validator==2.1.1
exceptiongroup==1.2.0
executing==2.0.1
fastapi==0.104.1
fastjsonschema==2.19.1
filelock==3.13.1
fonttools==4.47.0
fqdn==1.5.1
frozendict==2.4.1
frozenlist==1.4.1
fsspec==2023.12.2
gcloud==0.18.3
gevent==24.2.1
gmpy2 @ file:///C:/ci/gmpy2_1645438895476/work
google-ai-generativelanguage==0.4.0
google-api-core==2.18.0
google-auth==2.25.2
google-auth-oauthlib==1.2.0
google-generativeai==0.4.1
googleapis-common-protos==1.63.0
greenlet==3.0.3
grpcio==1.62.1
grpcio-status==1.62.1
grpcio-tools==1.62.1
gunicorn==21.2.0
h11==0.14.0
html5lib==1.1
httpcore==1.0.5
httplib2==0.22.0
httpx==0.27.0
huggingface-hub==0.20.1
idna==3.6
imageio==2.33.1
imageio-ffmpeg==0.4.9
importlib_metadata @ file:///home/conda/feedstock_root/build_artifacts/importlib-metadata_1710971335535/work
ipykernel==6.29.4
ipython==8.23.0
isoduration==20.11.0
jaraco.classes==3.4.0
jaraco.context==5.1.0
jaraco.functools==4.0.0
jedi==0.19.1
Jinja2==3.1.2
joblib==1.3.2
json5==0.9.24
jsonpatch==1.33
jsonpointer==2.4
jsonschema==4.21.1
jsonschema-specifications==2023.12.1
jupyter-events==0.10.0
jupyter-lsp==2.2.5
jupyter_client==8.6.1
jupyter_core==5.7.2
jupyter_server==2.13.0
jupyter_server_terminals==0.5.3
jupyterlab==4.1.6
jupyterlab_pygments==0.3.0
jupyterlab_server==2.26.0
jwcrypto==1.5.6
keyring==25.1.0
kiwisolver==1.4.5
langchain==0.1.14
langchain-community==0.0.31
langchain-core==0.1.41
langchain-openai==0.1.2
langchain-text-splitters==0.0.1
langgraph==0.0.32
langsmith==0.1.40
lazy_loader==0.3
librosa==0.10.1
lightning==2.1.3
lightning-utilities==0.10.0
llvmlite==0.41.1
loguru==0.7.2
lxml==5.2.1
Mako==1.3.2
Markdown==3.5.1
markdown-it-py==3.0.0
MarkupSafe==2.1.3
marshmallow==3.21.1
matplotlib==3.8.2
matplotlib-inline==0.1.6
mdurl==0.1.2
mistune==3.0.2
mkl-fft @ file:///C:/b/abs_19i1y8ykas/croot/mkl_fft_1695058226480/work
mkl-random @ file:///C:/b/abs_edwkj1_o69/croot/mkl_random_1695059866750/work
mkl-service==2.4.0
more-itertools==10.2.0
moviepy==1.0.3
mpmath==1.3.0
msgpack==1.0.7
multidict==6.0.4
multitasking==0.0.11
mypy-extensions==1.0.0
nbclient==0.10.0
nbconvert==7.16.3
nbformat==5.10.4
nest-asyncio==1.6.0
networkx==3.2.1
nh3==0.2.17
notebook==7.1.2
notebook_shim==0.2.4
numba==0.58.1
numpy==1.26.2
oauth2client==4.1.3
oauthlib==3.2.2
onnx==1.15.0
onnxoptimizer==0.3.13
onnxsim==0.4.35
openai==1.16.2
orjson==3.10.0
overrides==7.7.0
packaging==23.2
pandas==2.2.1
pandocfilters==1.5.1
parso==0.8.4
Pebble==5.0.6
pickleshare @ file:///home/conda/feedstock_root/build_artifacts/pickleshare_1602536217715/work
Pillow==10.1.0
pipdeptree==2.16.2
pipreqs==0.5.0
pkginfo==1.10.0
platformdirs==4.1.0
pooch==1.8.0
praat-parselmouth==0.4.3
proglog==0.1.10
prometheus_client==0.20.0
prompt-toolkit==3.0.43
proto-plus==1.23.0
protobuf==4.23.4
psutil==5.9.8
pure-eval==0.2.2
pyasn1==0.5.1
pyasn1-modules==0.3.0
pycparser==2.21
pycryptodome==3.20.0
pydantic==2.6.4
pydantic_core==2.16.3
Pygments==2.17.2
pyhandytools==0.1.4
PyJWT==2.8.0
pynng==0.8.0
pyparsing==3.1.1
pyproject_hooks==1.0.0
Pyrebase4==4.7.1
PySimpleGUI==4.60.5
python-dateutil==2.8.2
python-dotenv==1.0.1
python-engineio==4.9.0
python-json-logger==2.0.7
python-jwt==4.1.0
python-multipart==0.0.9
python-socketio==5.11.2
pytorch-lightning==2.1.3
pytz==2024.1
pywin32==306
pywin32-ctypes==0.2.2
pywinpty==2.0.13
pyworld==0.3.4
PyYAML==6.0.1
pyzmq==25.1.2
readme_renderer==43.0
redis==5.0.3
referencing==0.34.0
reflex==0.4.6
reflex-hosting-cli==0.1.10
regex==2023.12.25
requests==2.31.0
requests-oauthlib==1.3.1
requests-toolbelt==0.10.1
resampy==0.4.2
rfc3339-validator==0.1.4
rfc3986==2.0.0
rfc3986-validator==0.1.1
rich==13.7.0
rpds-py==0.18.0
rsa==4.9
safetensors==0.4.1
schedule==1.2.1
scikit-learn==1.3.2
scipy==1.11.4
Send2Trash==1.8.3
shellingham==1.5.4
simple-websocket==1.0.0
six==1.16.0
sniffio==1.3.0
so-vits-svc-fork==4.1.32
sounddevice==0.4.6
soundfile==0.12.1
soupsieve==2.5
soxr==0.3.7
sparkdesk-api==1.3.0
SQLAlchemy==2.0.29
sqlmodel==0.0.16
stack-data==0.6.3
starlette==0.27.0
starlette-admin==0.13.2
sympy==1.12
tabulate==0.9.0
tenacity==8.2.3
tensorboard==2.15.1
tensorboard-data-server==0.7.2
tensorboardX==2.6.2.2
terminado==0.18.1
threadpoolctl==3.2.0
tiktoken==0.6.0
tinycss2==1.2.1
tokenizers==0.15.0
tomli==2.0.1
tomlkit==0.12.4
torch==2.1.2
torchaudio==2.1.2
torchcrepe==0.0.22
torchmetrics==1.2.1
torchvision==0.17.2
tornado==6.4
tqdm==4.66.1
tqdm_joblib==0.0.3
traitlets==5.14.2
transformers==4.36.2
twine==5.0.0
typer==0.12.1
types-python-dateutil==2.9.0.20240316
typing-inspect==0.9.0
typing_extensions==4.9.0
tzdata==2024.1
uri-template==1.3.0
urllib3==2.2.1
uvicorn==0.20.0
watchdog==4.0.0
watchfiles==0.21.0
wcferry==39.0.14.1
wcwidth==0.2.13
webcolors==1.13
webencodings==0.5.1
websocket==0.2.1
websocket-client==1.7.0
websockets==12.0
Werkzeug==3.0.1
win32-setctime==1.1.0
wrapt==1.16.0
wsproto==1.2.0
yarg==0.1.9
yarl==1.9.4
yfinance==0.2.25
zhdate==0.1
zhipuai==2.0.1
zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1695255097490/work
zope.event==5.0
zope.interface==6.2
